<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/admin.css">  
</head>
  <body>
      <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #000000">
            <a class="navbar-brand" href="/shop">Poly Shop Store</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Trang chủ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/addPro">Sản phẩm</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/qlUser">Người dùng</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/rev/qlReview">Bình luận</a>
                    </li>                
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <section>
            <article>
                <h2 id="h2Tag">CẬP NHẬT SẢN PHẨM</h2>
              <br />
                <div style="width: 400px; margin: 0 auto;">
                    <form action="<%= PATH %>" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" name="id" style="width: 300px;" value="<%= PRODUCT.id %>" />
                        </div>
                        <div class="form-group">
                            <p>TÊN SẢN PHẨM</p>
                            <input type="text" name="title" style="width: 300px;" value="<%= PRODUCT.title %>" />
                        </div>
                        <div class="form-group">
                            <p>HÌNH ẢNH CŨ</p>
                            <image src="/images/<%= PRODUCT.images %>" alt="" width="100px;" />
                        </div>
                        <div class="form-group">
                            <p>HÌNH ẢNH MỚI</p>
                            <input type="file" name="images" style="width: 300px;" />
                        </div>
                        <div class="form-group">
                            <p>MÔ TẢ CŨ</p>
                            <input type="text" style="width: 300px; height: 100px;" value="<%= PRODUCT.description %>" />
                        </div>
                        <div class="form-group">
                            <p>MÔ TẢ</p>
                            <textarea name="description" cols="38"></textarea>
                        </div>
                        <div class="form-group">
                            <p>GIÁ TIỀN</p>
                            <input type="text" name="price" style="width: 300px;" value="<%= PRODUCT.price %>" />
                        </div>
                        <div class="form-group">
                            <p>NĂM XUẤT BẢN</p>
                            <input type="text" name="year" style="width: 300px;" value="<%= PRODUCT.year %>" />  
                        </div>

                        <div class="form-group">
                            <p>TÁC GIẢ</p>
                            <input type="text" name="author" style="width: 300px;" value="<%= PRODUCT.author %>" />  
                        </div>

                        <div class="form-group">
                            <p>ISBN</p>
                            <input type="text" name="isbn" style="width: 300px;" value="<%= PRODUCT.isbn %>" />  
                        </div>

                        <div class="form-group">
                            <p>LOẠI SẢN PHẨM CŨ</p>
                            <input type="text" style="width: 300px;" value="<%= PRODUCT.idCate %>" />  
                        </div>

                        <div class="form-group">
                            <p>LOẠI SẢN PHẨM</p>
                            <select name="idCate">
                                <option value="1">Sách thể thao</option>
                                <option value="2">Sách kinh tế</option>
                                <option value="3">Sách ngoại ngữ</option>
                              </select> 
                        </div>            
                        <br />
                        <input type="submit" class="btn btn-primary" value="Cập nhật">
                        <button type="button" class="btn btn-primary ml-2"><a id="aButton" href="/admin/addPro">Thêm mới</a></button>
                        <button type="button" class="btn btn-primary ml-2"><a id="aButton" href="/admin/products">Danh sách</a></button>
                    </form>
                </div>
            </article>
        </section>   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>